# Miscellaneous
*.log
*.swp
*.swo
.DS_Store
*.bak
*.tmp
*.cache
.env
.env.*
!.env.example
Thumbs.db

# Editor and IDE related
.idea/
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/
*.generated.dart
*.g.dart
*.freezed.dart
*.config.dart
coverage/
lcov.info

# Android related
/android/.gradle/
/android/build/
/android/local.properties
/android/*.keystore
/android/*.jks
/android/key.properties
*.apk
*.aab

# iOS related
**/ios/.build/
**/ios/Pods/
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner/GoogleService-Info.plist
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM/

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Testing
test_results/
*.lcov

# Ignore CMake build files
android/app/.cxx/

# Ignore other build artifacts (optional, if applicable)
build/
*.o
*.bin
*.json
*.txt
*.cmake
CMakeCache.txt
CMakeFiles/

# If you want to keep the Dart file, do not add this
# lib/Components/ProductGridItem.dart